/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #000;
}

.top {
    background: #333;
    /* A keretet praktikusabb a padding-gal beállítani, mert így minden benne lévő elem szélessége lehet 100% */
    width: 640px;
    padding: 20px 20px 10px;
    /* A height jó esetben automatikus, az itt most nem kell. */
    margin: 0 auto;
    /* A line-height nem kell ide. */
}

.img {
    background: url("header.jpg") no-repeat center center;
}

.img h1 {
    /* Padding-gal kitöltjük a "képet". A kép 250px magas: 30px a betűméret, 210 fent, 10 lent: 210 + 30 + 10 = 250px --> pont jó :) */
    padding: 210px 0 10px 10px;
    font-size: 30px;
    color: white;
}

.nav li {
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    color: #767676;
    /* Ha inline-block, akkor nem floatoljuk. Vagy floatolsz, vagy inline-blockolsz, de alapból inkább inline-block, aztán float (ha az nem a várt hatást hozza) */
    /* 20px távot állítunk be a menüpontok között */
    margin-right: 20px;
    line-height: 30px; /* Line height kell ide, hogy szépen középre kerüljenek a menüpontok */
}

.top .wrapper {
    background: white;
    /* Nincs szükség szélességre és magasságra, majd automatikusan kitölt annyi helyet, amennyire szüksége van. */
}

.top .wrapper .box {
    padding: 27px 20px;
    line-height: 23px;
}

.box h1 {
    color: #767676;
    font-size: 30px;
    font-family: SansSerif;
    /* Nem használunk itt height, hogy távolságot tartson az alatta lévő szövegtől, inkább margin a jó megoldás.
     Azért, mert ha több soros lesz a cím - mert olyan hosszú -, akkor a height-tal nem érnénk el a kívánt hatást,
     azaz, hogy 30px távot tartson a következő bekezdéstől. */
    margin-bottom: 30px;
}

.box h2 {
    color: #767676;
    font-size: 30px;
    font-family: SansSerif;
    margin-bottom: 30px;
}

.box p {
    font-size: 16px;
    line-height: 23px;
    font-family: SansSerif;
    margin-bottom: 30px;
}

.copy {
    font-size: 14px;
    line-height: 24px;
    color: #767676;
    margin-top: 4px;
}